@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

:root {
  --insta-dark-blue: #2a608d;
  --insta-text-blue: #2a608d;
  --insta-light-blue: #4a8bc0;
  --insta-dark-grey: #272e30;
  --insta-selected-dark-grey: #1a1c20;
  --insta-icon-grey: #9fa5aa;
  --insta-white: #FFFFFF;
  --background-grey: #f1f1f1;
  --banner-height: 50px;
  --footer-height: var(--banner-height);
  --small-profile-pic-diameter: 40px;
  box-sizing: border-box;
}

html {
  background: rgb(134, 211, 223);
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100wh;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  width: 100%;
  max-width: 450px;
  background: var(--insta-white);
  height: 100vh;
  max-height: 950px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

header {
  flex: 0 0 var(--banner-height);
  width: 100%;
}

#banner {
  background: var(--insta-dark-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

#banner>h1 {
  font-family: "Grand Hotel";
  color: var(--insta-white);
  font-size: 2rem;
}

#banner #messageIcon {
  color: var(--insta-white);
  font-size: 2rem;
  transform: rotate(60deg);
}

main {
  flex: 1;
  width: 100%;
  overflow-y: scroll;
}

footer {
  width: 100%;
  flex: 0 0 var(--footer-height);
}

#navFooter {
  background: var(--insta-dark-grey);
  color: var(--insta-icon-grey);
  font-size: 3rem;
}

footer * {
  height: 100%;
}

nav>ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  flex: 1;
  text-align: center;
}

nav ul li:hover {
  background-color: var(--insta-selected-dark-grey);
}

.flexVertCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#feed {
  width: 100%;
}

.postOnFeed {
  width: 100%;
  padding: 0 0 15px 0;
}

.postHeader,
.postLikes,
.postOptions,
.postCaption,
.postOnFeed time {
  width: 100%;
  padding: 5px 10px;
}

.postCaption span {
  font-weight: 600;
  margin-right: 3px;
  font-size: 1.1rem;
}

.postOnFeed time {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 10px 0 10x;
  color: var(--insta-icon-grey);
}

.smallProfilePic {
  height: var(--small-profile-pic-diameter);
  width: var(--small-profile-pic-diameter);
  border-radius: 50%;
}

.smallPostPic {
  height: var(--small-profile-pic-diameter);
  width: var(--small-profile-pic-diameter);
}

.postHeader img {
  margin-right: 10px;
}

.postHeader div,
.postOptions,
.postLikes,
.postComments,
.postCommentsPreview {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.postHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postHeader h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

.postImg {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.postOptions {
  font-size: 3rem;
  color: var(--insta-icon-grey);
}

.postOptions * {
  display: flex;
  align-items: center;
  justify-content: center;
}

.postOptions svg {
  margin-right: 15px;
}

.likedHeart {
  color: red;
}

.postLikes {
  color: var(--insta-text-blue);
  font-size: 1.1rem;
}

.postComments,
.postCommentsPreview {
  width: 100%;
  padding: 0 10px;
}

.postComments {
  color: var(--insta-icon-grey);
}

.postCommentsPreview {
  color: var(--insta-text-blue);
}

.postCommentsPreview span {
  color: var(--insta-text-blue);
  font-weight: 700;
}

.previewCanvas {
  display: none;
}

#backBanner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10px;
}

#backBanner > h1 {
  font-size: 2rem;
}
#backBannerUser {
  font-size: .9rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
#backBannerUser > img {
  margin: 0 10px 0 0 ;
}
#backBannerUser > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.arrowBack {
  font-size: 2.5rem;
}

#backArrow {
  justify-self: flex-start;
  margin: 0 30px 0 0;
}

#commentFooter {
  padding: 0 10px;
}

#commentFooter form {
  display: flex;
  align-items: center;
}

#commentFooter form input {
  flex: 1;
  padding: 0 20px;
  height: calc(var(--footer-height) * 0.5);
  border: none;
}

#commentFooter form button {
  flex: 0 0 var(--footer-height);
  border: none;
  background-color: inherit;
  cursor: pointer;
  color: var(--insta-text-blue);
}

#commentFooter img {
  height: var(--small-profile-pic-diameter);
  flex: 0 0 var(--small-profile-pic-diameter);
  border-radius: 50%;
}

#media {
  width: 100%;
  padding: 0 10px;
}

.commentInList,
.userInList,
.mediaInList {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 5px 0;
  border-bottom: 1px solid var(--insta-icon-grey);
}

.mediaInList {
  border: none;
  padding: 10px 0;
}

.mediaTextBox {
  flex: auto;
  margin: 0 15px;
  font-size: 1.2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.mediaTextBox span {
  color: var(--insta-icon-grey);
}

.commentInList,
.commentInList .commentTextBox {
  align-items: flex-start;
}

.userInList,
.userInList .userListTextBox,
.mediaInList {
  align-items: center;
}

.userInList .buttonContainer {
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.userInList .buttonContainer button {
  background: var(--insta-dark-blue);
  color: var(--insta-white);
  max-width: 100%;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
}

.mediaInList button {
  background: var(--insta-dark-blue);
  color: var(--insta-white);
  padding: 8px 15px;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
}

.commentInList .commentUserName,
.userInList .userListUserName,
.mediaUserName {
  font-weight: 600;
}

.commentInList .commentUserName,
.mediaUserName {
  color: var(--insta-dark-blue);
}

.commentInList *,
.userInList * {
  font-size: 1.1rem;
}

.commentHeader {
  display: flex;
  align-items: center;
  padding: 0 0 2px 0;
}

.commentDate {
  font-size: 1rem;
  padding: 0 5px;
}

.commentInList .commentTextBox,
.userInList .userListTextBox {
  padding: 0 0 0 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
}

.userInList .userListTextBox {
  justify-content: center;
  align-items: flex-start;
}

.userInList .smallProfilePic {
  height: calc(var(--small-profile-pic-diameter) * 1.2);
  width: calc(var(--small-profile-pic-diameter) * 1.2);
}

.messageInList img.smallProfilePic {
  height: calc(var(--small-profile-pic-diameter) * 1.5);
  width: calc(var(--small-profile-pic-diameter) * 1.5);
}

#commentsList,
#usersList {
  padding: 0 10px;
  width: 100%;
  flex: auto;
  overflow-y: scroll;
}




#loginOrSignUp,
#register {
  background: var(--insta-white);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

#loginOrSignUp form,
#register form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#loginOrSignUp h1,
#register h1 {
  font-size: 4rem;
  margin: 15px;
  font-family: "Grand Hotel";
}

#loginOrSignUp span,
#register span {
  font-size: 1.5rem;
}

.openerOption {
  font-size: 1.5rem;
  background-color: var(--insta-dark-blue);
  color: var(--insta-white);
  font-weight: 500;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
}

.formGroup input,
.formGroup textarea {
  width: 200px;
  padding: 10px;
  margin: 5px;
  border: 1px black solid;
  background: var(--background-grey);
}

#imageCropper {
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  padding: 10px 0 0 0;
  background: var(--insta-white);
  z-index: 2;
}

#imageCropper label {
  font-size: 2rem;
}

#imageCropper button {
  padding: 10px;
  font-size: 1.5rem;
  background: var(--insta-dark-blue);
  border-radius: 20px;
  width: 200px;
  color: var(--insta-white);
  cursor: pointer;
  margin: 10px 0 0 0;
}

.photoTextSideBySide {
  display: flex;
  --photoTextSideBySideHeight: 75px;
  padding: 0 10px
}

.photoTextSideBySide .photoTextPhoto {
  flex: 0 0 var(--photoTextSideBySideHeight);
  height: var(--photoTextSideBySideHeight);
  text-align: center;
  line-height: calc(var(--photoTextSideBySideHeight) / 4);
  padding: 0;
  font-size: 1.5rem;
  cursor: pointer;
}

.photoTextSideBySide span.photoTextPhoto {
  padding: calc(var(--photoTextSideBySideHeight) / 4) 0;
  border: black 1px solid;
}

.photoTextSideBySide .photoTextText {
  flex: 1 1 auto;
  resize: none;
  height: var(--photoTextSideBySideHeight);
  border: none;
  padding: 5px 0 5px 10px;
}

#postBanner {
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--insta-icon-grey);
}

#postBanner .next {
  color: var(--insta-light-blue);
  font-size: 1.7rem;
  cursor: pointer;
  margin: 0 5px;
}

#profileSummary {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#profileSummary img {
  height: calc(var(--small-profile-pic-diameter) * 2.5);
  width: calc(var(--small-profile-pic-diameter) * 2.5);
  border-radius: 50%;
}

#profileSummary>div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profileCountSummary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileCountNumber {
  font-size: 1.6rem;
  font-weight: 600;
}

.profileCountSubject {
  font-size: 1.4rem;
}

#profileName {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 5px 0;
}

#profileBio {
  font-size: 1.4rem;
}

#profileOptionButtons {
  display: flex;
  justify-content: center;
}

#profileOptionButtons>button,
#profileOptionButtons>a {
  flex: auto;
  padding: 5px 0;
  border-radius: 8px;
  margin: 5px 5px;
  cursor: pointer;
  font-size: 1.3rem;
  background: var(--background-grey);
  text-align: center;
  vertical-align: middle;
}

#profilePostsSelectors {
  display: flex;
  justify-content: space-between;
}

.profilePostsSelector {
  font-size: 4rem;
  width: 49%;
  padding: 5px 0;
  color: var(--insta-icon-grey);
}

.selectedProfilePostsSelector {
  border-bottom: 1px solid black;
  color: black;
}

#grid {
  display: grid;
  margin: 3px 0;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 3px
}

.gridChild {
  /* aspect-ratio: 1 / 1; */
  background: red;
  height: max-content;
}

.gridChild img {
  width: 100%;
  padding: 0;
  float: left;
}

#searchForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px;
}

#searchBar {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  justify-content: flex-start;
  padding: 10px;
  border-radius: 10px;
  background: var(--background-grey);
  width: 100%;
}

#searchForm input {
  border: none;
  background: inherit;
  font-size: 1.4rem;
  flex: auto;
  padding: 0 0 0 8px;
}

#searchOptions {
  display: flex;
  align-items: center;

  width: 100%;
}

#searchOptions>* {
  flex: auto;
  text-align: center;
  padding: 5px;
  font-size: 1.2rem;
  color: var(--insta-icon-grey);
  border-bottom: var(--insta-white) 1px solid;
}

#searchOptions>input[type="radio"]:checked+label {
  color: var(--insta-selected-dark-grey);
  border-bottom: var(--insta-selected-dark-grey) 1px solid;
}

#noResults {
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  padding: 10px;
}

#editProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

#editProfile form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#editProfile form .profilePicture {
  width: calc(var(--small-profile-pic-diameter) * 3.5);
  height: calc(var(--small-profile-pic-diameter) * 3.5);
  border-radius: 50%;
  cursor: pointer;
  margin: 10px;
}

#editProfile button {
  color: var(--insta-white);
  border: 2px solid red;
  background: var(--insta-dark-blue);
  margin: 10px;
  margin-top: auto;
  padding: 10px 15px;
  border-radius: 15px;
  cursor: pointer;
}

#editBanner {
  width: 100%;
  display: grid;
  height: var(--banner-height);
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
  font-size: 2rem;
  justify-items: start;
}

#editBanner .checkmark {
  justify-self: end;
  color: var(--insta-text-blue);
}

#confirmDeleteBox {
  position: absolute;
  height: 100%;
  background: var(--insta-white);
  border-radius: 15px;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 3;
}

#confirmDeleteBox button {
  color: var(--insta-white);
  background: var(--insta-dark-blue);
  padding: 15px 10px;
  border-radius: 20px;
  margin: 10px 0 0 0;
}

.warning {
  color: red;
  font-size: 1.2rem;
}

.messageInList {
  width: 100%;
  padding: 3px 10px;
}

.messageInList a {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.messagesInfo {
  flex: 1;
  padding: 0 5px;
  font-size: 1.4rem;
  min-width: 0;
}

.messagesUsername, .messageDate {
  font-weight: 600;
}
.messageDate {
  padding: 0 0 0 15px;
}

.messageText {
  display: flex;
  flex: 1;
}

.messageText p {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#conversation {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column-reverse;
}
#conversation ol {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
.pushToTop { /*this pushes messages to top of page if there isnt that many and disapears if theres enough messages*/
  flex-grow: 9;
  flex-shrink: 9;
  flex-basis: 0px;
}
.flexAlignSelfLeft {
  align-self: flex-start;
  border: 1px solid var(--background-grey);
}
.flexAlignSelfRight {
  align-self: flex-end;
  background: var(--background-grey);
}
.conversationText {
  padding: 8px;
  border-radius: 10px;
  margin: 2px;
  max-width: 80%;
}

#messageForm {
  width: 95%;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 1.3rem;
  border: 2px solid var(--background-grey);
  padding: 10px;
  border-radius: 20px;
  margin: 0 0 10px 0;
}
#messageForm button {
  color: var(--insta-text-blue);
  background: inherit;
  border: none;
  cursor: pointer;
}
#messageForm input {
  flex: auto;
  margin: 0 0 0 20px;
  border: none;
}