h1, h2, h3, h4, h5, h6, body, ul, p {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
svg {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    border: none;
}
input:focus, textarea:focus {
    outline: none;
}
textarea { 
    resize: vertical; 
    height: 100px;
}